
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
    "secondary": #6868a1,
    "primary": #222288
);

$slider-line-height: 10px;
$brand-primary: #6868a1;
$slider-primary-bottom: #6868a1;
$slider-horizontal-width: 100%;

// Dropdowns
$chosen-svg-up:                 "M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z";
$chosen-svg-down:               "M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z";