
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~@fortawesome/fontawesome-pro/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-pro/scss/light.scss";
@import "~@fortawesome/fontawesome-pro/scss/regular.scss";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Chosen
@import '~sass-svg-uri/svg-uri';
@import 'chosen/component-variables';
@import 'chosen/component-chosen';

// Bootstrap-slider
@import 'slider/bootstrap-slider';

// simple-lightbox
@import '~simple-lightbox/dist/simpleLightbox';

// @import '~vue-select/dist/vue-select.css';

// custom
@import "component/scrollbox";
@import "component/floating";
@import "component/items";
@import "component/forms";
@import "component/footer";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.alert-fullwidth {
  border-radius: 0;
}

.text-regular {
  font-family: Helvetica, Arial, sans-serif;
}

.card .category:not(:last-child)::after {
  content: ", ";
  margin-left: -.25em;
}

#slider-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  .slider-tick {
    display: none;
  }

  .slider-track {
    background: none;
    background-color: $input-border-color;
    border: 1px solid $input-border-color;
    box-shadow: none;
  }
}

.match_type {
  display: none;
}

.year_match_type {
  display: block;
}