.input-group .selected-tag {
  height: 100% !important;
  margin: 0 0 0.5em 0 !important;
  padding: 1px 0.5em !important;
  background-color: theme-color-level(primary, -10) !important;
}

.match_type, .year_match_type {
  padding-top: 10px;
  width: 100%;
  text-align: right;
  color: $secondary;

  div {
    padding-left: 5px;
  }
}

.match_type { display: none; }